# --- Icarus Verilog Simulation ---
# The compiled simulation executables
*.out
*.vvp
abc_sim

# --- Waveform Dumps ---
# These get massive very quickly!
*.vcd
*.fst
*.lx2

# --- FPGA Synthesis & Bitstreams (Yosys/NextPNR) ---
*.json
*.asc
*.bin
*.bit

# --- OS & Editor Files ---
!.vscode # Keep the .vscode directory itself
.vscode/* # but NOT most of the files
# But DO include the settings and tasks for the Verilog-HDL/SystemVerilog  v1.29.0 extension
!.vscode/settings.json
!.vscode/tasks.json
.DS_Store
*.swp
